In [1]:
import datalabframework as dlf

In [2]:
dlf.version_info

(0, 5, 10)

In [3]:
engine = dlf.engines.get('spark')
spark = engine.context()

PYSPARK_SUBMIT_ARGS:  --packages mysql:mysql-connector-java:8.0.12 pyspark-shell

In [4]:
md = dlf.params.metadata()
for resource in md['resources']:
    ds = md['resources'][resource]
    if ds['provider']=='source':
        print(ds['path'])
        # read
        engine.read(resource).show(5)

actor
2018-10-18 05:15:50,887 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'actor', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+--------+----------+---------+-------------------+
|actor_id|first_name|last_name|        last_update|
+--------+----------+---------+-------------------+
|     105|    SIDNEY|    CROWE|2006-02-15 04:34:33|
|     172|   GROUCHO| WILLIAMS|2006-02-15 04:34:33|
|      74|     MILLA|   KEITEL|2006-02-15 04:34:33|
|      48|   FRANCES|DAY-LEWIS|2006-02-15 04:34:33|
|      65|    ANGELA|   HUDSON|2006-02-15 04:34:33|
+--------+----------+---------+-------------------+
only showing top 5 rows

address
2018-10-18 05:15:53,018 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'address', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+----------+--------------------+--------+---------+-------+-----------+------------+--------------------+-------------------+
|address_id|             address|address2| district|city_id|postal_code|       phone|            location|        last_update|
+----------+--------------------+--------+---------+-------+-----------+------------+--------------------+-------------------+
|       185|682 Garden Grove ...|        |Tennessee|    333|      67497| 72136330362|[00 00 00 00 01 0...|2014-09-25 22:33:57|
|       192|1166 Changhwa Street|        |   Caraga|     62|      58852|650752094490|[00 00 00 00 01 0...|2014-09-25 22:32:34|
|       288|  226 Halifax Street|        | Xinxiang|    277|      58492|790651020929|[00 00 00 00 01 0...|2014-09-25 22:30:38|
|       471|  1322 Mosul Parkway|        | Shandong|    145|      95400|268053970382|[00 00 00 00 01 0...|2014-09-25 22:30:32|
|       252| 1309 Weifang Street|        |  Florida|    520|      57338|435785045362|[00 00 00 00 01 0...|2014-09-25 22:34:02|
+----------+--------------------+--------+---------+-------+-----------+------------+--------------------+-------------------+
only showing top 5 rows

category
2018-10-18 05:15:54,870 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'category', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+-----------+-----------+-------------------+
|category_id|       name|        last_update|
+-----------+-----------+-------------------+
|          5|     Comedy|2006-02-15 04:46:27|
|         16|     Travel|2006-02-15 04:46:27|
|          1|     Action|2006-02-15 04:46:27|
|          6|Documentary|2006-02-15 04:46:27|
|         14|     Sci-Fi|2006-02-15 04:46:27|
+-----------+-----------+-------------------+
only showing top 5 rows

city
2018-10-18 05:15:55,396 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'city', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+-------+--------------+----------+-------------------+
|city_id|          city|country_id|        last_update|
+-------+--------------+----------+-------------------+
|    144|Dhule (Dhulia)|        44|2006-02-15 04:45:25|
|    442|   Saint-Denis|        79|2006-02-15 04:45:25|
|    179|      Gatineau|        20|2006-02-15 04:45:25|
|    560|         Vaduz|        55|2006-02-15 04:45:25|
|    189|        Guaruj|        15|2006-02-15 04:45:25|
+-------+--------------+----------+-------------------+
only showing top 5 rows

country
2018-10-18 05:15:55,920 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'country', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+----------+--------------------+-------------------+
|country_id|             country|        last_update|
+----------+--------------------+-------------------+
|        25|Congo, The Democr...|2006-02-15 04:44:00|
|        98|        Turkmenistan|2006-02-15 04:44:00|
|        34|              France|2006-02-15 04:44:00|
|        37|              Gambia|2006-02-15 04:44:00|
|        93|            Tanzania|2006-02-15 04:44:00|
+----------+--------------------+-------------------+
only showing top 5 rows

customer
2018-10-18 05:15:56,392 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'customer', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+-----------+--------+----------+---------+--------------------+----------+------+-------------------+-------------------+
|customer_id|store_id|first_name|last_name|               email|address_id|active|        create_date|        last_update|
+-----------+--------+----------+---------+--------------------+----------+------+-------------------+-------------------+
|        589|       1|     TRACY| HERRMANN|TRACY.HERRMANN@sa...|       595|  true|2006-02-14 22:04:37|2006-02-15 04:57:20|
|        437|       2|   RANDALL|  NEUMANN|RANDALL.NEUMANN@s...|       442|  true|2006-02-14 22:04:37|2006-02-15 04:57:20|
|        535|       1|    JAVIER|    ELROD|JAVIER.ELROD@saki...|       541|  true|2006-02-14 22:04:37|2006-02-15 04:57:20|
|        595|       1|  TERRENCE|GUNDERSON|TERRENCE.GUNDERSO...|       601|  true|2006-02-14 22:04:37|2006-02-15 04:57:20|
|        552|       2|      HUGH|  WALDROP|HUGH.WALDROP@saki...|       558|  true|2006-02-14 22:04:37|2006-02-15 04:57:20|
+-----------+--------+----------+---------+--------------------+----------+------+-------------------+-------------------+
only showing top 5 rows

film
2018-10-18 05:15:56,950 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'film', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+-------+-------------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+------+--------------------+-------------------+
|film_id|              title|         description|release_year|language_id|original_language_id|rental_duration|rental_rate|length|replacement_cost|rating|    special_features|        last_update|
+-------+-------------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+------+--------------------+-------------------+
|    343|    FULL FLATLINERS|A Beautiful Docum...|  2006-01-01|          1|                null|              6|       2.99|    94|           14.99|    PG|Trailers,Deleted ...|2006-02-15 05:03:42|
|    575|MIDSUMMER GROUNDHOG|A Fateful Panoram...|  2006-01-01|          1|                null|              3|       4.99|    48|           27.99|     G|Trailers,Deleted ...|2006-02-15 05:03:42|
|    199|   CUPBOARD SINNERS|A Emotional Refle...|  2006-01-01|          1|                null|              4|       2.99|    56|           29.99|     R|   Behind the Scenes|2006-02-15 05:03:42|
|    440|        HUNGER ROOF|A Unbelieveable Y...|  2006-01-01|          1|                null|              6|       0.99|   105|           21.99|     G|Deleted Scenes,Be...|2006-02-15 05:03:42|
|    128|      CATCH AMISTAD|A Boring Reflecti...|  2006-01-01|          1|                null|              7|       0.99|   183|           10.99|     G|Trailers,Behind t...|2006-02-15 05:03:42|
+-------+-------------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+------+--------------------+-------------------+
only showing top 5 rows

film_actor
2018-10-18 05:15:57,526 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'film_actor', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+--------+-------+-------------------+
|actor_id|film_id|        last_update|
+--------+-------+-------------------+
|     198|    570|2006-02-15 05:05:03|
|      39|    683|2006-02-15 05:05:03|
|     174|    618|2006-02-15 05:05:03|
|      80|    362|2006-02-15 05:05:03|
|     172|    710|2006-02-15 05:05:03|
+--------+-------+-------------------+
only showing top 5 rows

film_category
2018-10-18 05:15:58,035 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'film_category', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+-------+-----------+-------------------+
|film_id|category_id|        last_update|
+-------+-----------+-------------------+
|    978|          5|2006-02-15 05:07:09|
|    938|          5|2006-02-15 05:07:09|
|    671|         15|2006-02-15 05:07:09|
|     22|         13|2006-02-15 05:07:09|
|    206|          6|2006-02-15 05:07:09|
+-------+-----------+-------------------+
only showing top 5 rows

film_text
2018-10-18 05:15:58,420 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'film_text', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+-------+-----------------+--------------------+
|film_id|            title|         description|
+-------+-----------------+--------------------+
|    718|    REBEL AIRPORT|A Intrepid Yarn o...|
|    772|       SEA VIRGIN|A Fast-Paced Docu...|
|    592|MONSTER SPARTACUS|A Fast-Paced Stor...|
|    784|  SHANGHAI TYCOON|A Fast-Paced Char...|
|    435|  HOTEL HAPPINESS|A Thrilling Yarn ...|
+-------+-----------------+--------------------+
only showing top 5 rows

inventory
2018-10-18 05:15:58,839 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'inventory', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+------------+-------+--------+-------------------+
|inventory_id|film_id|store_id|        last_update|
+------------+-------+--------+-------------------+
|         709|    155|       1|2006-02-15 05:09:17|
|        4225|    918|       2|2006-02-15 05:09:17|
|        1496|    327|       2|2006-02-15 05:09:17|
|        3325|    731|       2|2006-02-15 05:09:17|
|         470|    103|       2|2006-02-15 05:09:17|
+------------+-------+--------+-------------------+
only showing top 5 rows

language
2018-10-18 05:15:59,277 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'language', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+-----------+--------+-------------------+
|language_id|    name|        last_update|
+-----------+--------+-------------------+
|          1| English|2006-02-15 05:02:19|
|          2| Italian|2006-02-15 05:02:19|
|          4|Mandarin|2006-02-15 05:02:19|
|          3|Japanese|2006-02-15 05:02:19|
|          5|  French|2006-02-15 05:02:19|
+-----------+--------+-------------------+
only showing top 5 rows

payment
2018-10-18 05:15:59,677 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'payment', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+----------+-----------+--------+---------+------+-------------------+-------------------+
|payment_id|customer_id|staff_id|rental_id|amount|       payment_date|        last_update|
+----------+-----------+--------+---------+------+-------------------+-------------------+
|      6741|        250|       1|     1146|  2.99|2005-05-31 20:34:45|2006-02-15 22:14:49|
|       433|         16|       2|     7552|  2.99|2005-07-27 22:03:41|2006-02-15 22:12:32|
|      1820|         66|       2|    14429|  0.99|2005-08-21 11:29:43|2006-02-15 22:12:46|
|      8225|        303|       1|     6205|  4.99|2005-07-11 12:31:24|2006-02-15 22:15:45|
|     11120|        410|       2|    15392|  3.99|2005-08-22 23:02:15|2006-02-15 22:18:07|
+----------+-----------+--------+---------+------+-------------------+-------------------+
only showing top 5 rows

rental
2018-10-18 05:16:00,589 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'rental', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|rental_id|        rental_date|inventory_id|customer_id|        return_date|staff_id|        last_update|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|    11971|2005-08-17 17:53:42|        2756|        131|2005-08-18 12:11:42|       2|2006-02-15 21:30:53|
|    13571|2005-08-20 05:05:14|        1251|        458|2005-08-25 03:59:14|       2|2006-02-15 21:30:53|
|     2601|2005-06-19 06:09:44|        2898|         98|2005-06-20 08:03:44|       1|2006-02-15 21:30:53|
|     9904|2005-07-31 14:34:17|        4089|        428|2005-08-08 17:19:17|       1|2006-02-15 21:30:53|
|     9991|2005-07-31 17:26:27|        3662|        414|2005-08-03 17:36:27|       1|2006-02-15 21:30:53|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
only showing top 5 rows

staff
2018-10-18 05:16:01,147 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'staff', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+--------+----------+---------+----------+--------------------+--------------------+--------+------+--------+--------------------+-------------------+
|staff_id|first_name|last_name|address_id|             picture|               email|store_id|active|username|            password|        last_update|
+--------+----------+---------+----------+--------------------+--------------------+--------+------+--------+--------------------+-------------------+
|       2|       Jon| Stephens|         4|                null|Jon.Stephens@saki...|       2|  true|     Jon|                null|2006-02-15 03:57:16|
|       1|      Mike|  Hillyer|         3|[89 50 4E 47 0D 0...|Mike.Hillyer@saki...|       1|  true|    Mike|8cb2237d0679ca88d...|2006-02-15 03:57:16|
+--------+----------+---------+----------+--------------------+--------------------+--------+------+--------+--------------------+-------------------+

store
2018-10-18 05:16:01,706 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'store', 'url': 'jdbc:mysql://mysql:3306/sakila'}
+--------+----------------+----------+-------------------+
|store_id|manager_staff_id|address_id|        last_update|
+--------+----------------+----------+-------------------+
|       2|               2|         2|2006-02-15 04:57:12|
|       1|               1|         1|2006-02-15 04:57:12|
+--------+----------------+----------+-------------------+

In [9]:
day = md = dlf.params.metadata()
for resource in md['resources']:
    ds = md['resources'][resource]
    if ds['provider']=='source':
        print(ds['path'])
        # read
        df_src = engine.read(resource)
        
        # define target path
        target_path = '{}.{}'.format(ds['provider'],ds['path'])
        print(target_path)
        
        # write
        engine.write(df_src, path=target_path, provider='target', mode='overwrite')

actor
2018-10-18 05:18:00,782 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'actor', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.actor
2018-10-18 05:18:02,981 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.actor', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.actor'}
address
2018-10-18 05:18:03,175 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'address', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.address
2018-10-18 05:18:04,476 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.address', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.address'}
category
2018-10-18 05:18:04,661 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'category', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.category
2018-10-18 05:18:05,167 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.category', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.category'}
city
2018-10-18 05:18:05,360 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'city', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.city
2018-10-18 05:18:05,733 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.city', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.city'}
country
2018-10-18 05:18:05,939 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'country', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.country
2018-10-18 05:18:06,308 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.country', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.country'}
customer
2018-10-18 05:18:06,499 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'customer', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.customer
2018-10-18 05:18:06,926 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.customer', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.customer'}
film
2018-10-18 05:18:07,134 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'film', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.film
2018-10-18 05:18:07,576 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.film', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.film'}
film_actor
2018-10-18 05:18:07,780 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'film_actor', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.film_actor
2018-10-18 05:18:08,670 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.film_actor', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.film_actor'}
film_category
2018-10-18 05:18:09,077 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'film_category', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.film_category
2018-10-18 05:18:09,645 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.film_category', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.film_category'}
film_text
2018-10-18 05:18:09,896 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'film_text', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.film_text
2018-10-18 05:18:10,664 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.film_text', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.film_text'}
inventory
2018-10-18 05:18:10,858 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'inventory', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.inventory
2018-10-18 05:18:11,307 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.inventory', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.inventory'}
language
2018-10-18 05:18:11,486 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'language', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.language
2018-10-18 05:18:11,801 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.language', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.language'}
payment
2018-10-18 05:18:12,072 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'payment', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.payment
2018-10-18 05:18:12,625 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.payment', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.payment'}
rental
2018-10-18 05:18:12,806 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'rental', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.rental
2018-10-18 05:18:13,253 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.rental', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.rental'}
staff
2018-10-18 05:18:13,429 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'staff', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.staff
2018-10-18 05:18:13,786 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.staff', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.staff'}
store
2018-10-18 05:18:13,954 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'store', 'url': 'jdbc:mysql://mysql:3306/sakila'}
source.store
2018-10-18 05:18:14,899 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'source.store', 'url': 'hdfs://hdfs-nn:8020/data/ingest/source.store'}

### Ingest from source to target

In [1]:
import datalabframework as dlf

In [2]:
dlf.data.metadata('resources.actor')
engine = dlf.engines.get('spark')
spark = engine.context()

PYSPARK_SUBMIT_ARGS:  --packages mysql:mysql-connector-java:8.0.12 pyspark-shell

In [3]:
# df =  engine.read('resources.actor')
# df.groupby('last_update').count().show()

In [7]:
engine.ingest(src_resource='resources.language', dest_path='ingest.language', dest_provider='target')

condition: last_update < "2018-10-18T00:00:00" and last_update >= "2006-02-15T00:00:00"
ingest.language/schema target
2018-10-18 07:02:17,762 - WARNING - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - message - No schema file for ingest.language, target
schema date 2018-10-18 00:00:00
2018-10-18 07:02:17,998 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'rdbms', 'service': 'mysql', 'path': 'language', 'url': 'jdbc:mysql://mysql:3306/sakila'}
{'provider': {'format': 'parquet', 'hostname': 'hdfs-nn', 'path': 'data/ingest', 'service': 'hdfs', 'write': {'coalesce': 2, 'options': {'mode': 'append'}}}, 'resource': {'path': 'ingest.language', 'provider': 'target'}, 'url': 'hdfs://hdfs-nn:8020/data/ingest/ingest.language'}
ingest.language/2018-10-18
2018-10-18 07:02:18,247 - WARNING - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - message - Nothing to read from destination: ingest.language/2018-10-18, target
2018-10-18 07:02:19,337 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'ingest.language/schema', 'url': 'hdfs://hdfs-nn:8020/data/ingest/ingest.language/schema'}
2018-10-18 07:02:19,839 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.write - {'format': 'parquet', 'service': 'hdfs', 'path': 'ingest.language/2018-10-18', 'url': 'hdfs://hdfs-nn:8020/data/ingest/ingest.language/2018-10-18'}

In [8]:
import pandas as pd
from datetime import datetime
import json

df = pd.DataFrame(columns=['date', 'schema'], data=[[datetime.today(), json.dumps({'ohlala':42})]])
spark = engine.context()
spark.createDataFrame(df)

DataFrame[date: timestamp, schema: string]

In [9]:
engine.read(path='ingest.language/schema', provider='target').show(5)

2018-10-18 07:02:20,173 - INFO - ffc0af7 - datalabframework-demos.git - jovyan - ingest.ipynb - engine.read - {'format': 'parquet', 'service': 'hdfs', 'path': 'ingest.language/schema', 'url': 'hdfs://hdfs-nn:8020/data/ingest/ingest.language/schema'}
+--------------------+--------------------+
|                date|              schema|
+--------------------+--------------------+
|2018-10-18 07:02:...|{"fields":[{"meta...|
+--------------------+--------------------+

## pre checks

schema checks:

 - get table schema from source
 - compare with reference schema
 
value checks:
 - null
 - invalid

## Ingest strategy

#### **what to read?**
 
FULL scan:  
tables are lost or never ingested before
 
  - cold start
  - disaster recovery from source
     
INCREMENTAL scan:  
We need a way to select/filter new data

  - time based (default, i.e. last_update column)
  - index based (if index is auto incrementing)
  - hash compare indexes (expensive)
  - full rescan and tag with ingest date
 
#### **where to write?**

  - define a naming convention for the target tables (default schema version: `latest`)  
    `<source>/<db-name>/<table-name>/<schema-version-date>`
    
#### **exceptions**
: what to do? (show error)

### HDFS

In [5]:
# read back from hdfs in parquet format
df_trg = engine.read('target', 'ingest')
df_trg.where(col(colname) => 'datetime')
df_trg.show()

hdfs://hdfs-nn:8020//data/ingest/extract/sakila.actor
+--------+----------+------------+-------------------+
|actor_id|first_name|   last_name|        last_update|
+--------+----------+------------+-------------------+
|       1|  PENELOPE|     GUINESS|2006-02-15 04:34:33|
|       2|      NICK|    WAHLBERG|2006-02-15 04:34:33|
|       3|        ED|       CHASE|2006-02-15 04:34:33|
|       4|  JENNIFER|       DAVIS|2006-02-15 04:34:33|
|       5|    JOHNNY|LOLLOBRIGIDA|2006-02-15 04:34:33|
|       6|     BETTE|   NICHOLSON|2006-02-15 04:34:33|
|       7|     GRACE|      MOSTEL|2006-02-15 04:34:33|
|       8|   MATTHEW|   JOHANSSON|2006-02-15 04:34:33|
|       9|       JOE|       SWANK|2006-02-15 04:34:33|
|      10| CHRISTIAN|       GABLE|2006-02-15 04:34:33|
|      11|      ZERO|        CAGE|2006-02-15 04:34:33|
|      12|      KARL|       BERRY|2006-02-15 04:34:33|
|      13|       UMA|        WOOD|2006-02-15 04:34:33|
|      14|    VIVIEN|      BERGEN|2006-02-15 04:34:33|
|      15|      CUBA|     OLIVIER|2006-02-15 04:34:33|
|      16|      FRED|     COSTNER|2006-02-15 04:34:33|
|      17|     HELEN|      VOIGHT|2006-02-15 04:34:33|
|      18|       DAN|        TORN|2006-02-15 04:34:33|
|      19|       BOB|     FAWCETT|2006-02-15 04:34:33|
|      20|   LUCILLE|       TRACY|2006-02-15 04:34:33|
+--------+----------+------------+-------------------+
only showing top 20 rows

## post checks

In [6]:
assert(df_src.subtract(df_trg).count()==0)

In [ ]:
engine.read(path='abcd', provider='dsds')
write(df, path='abcd', provider='ingest')

engine.read('resource_alias')
engine.write(df, 'resource_alias')